APP_NAME="CMSFramework"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=cmsdb
DB_USERNAME=cmsuser
DB_PASSWORD=
DB_ROOT_PASSWORD=

NGINX_PORT=8080
DB_EXPOSE_PORT=3306
