# Dependencies
vendor/
node_modules/

# Environment secrets
.env

# Docker local overrides
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# Editor and IDE
.idea/
.vscode/
*.swp
*.swo

# Logs and cache
*.log
*.cache
